.gridContainer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    height: 50%;
}

.theGrids {
    color: red;
    width: 25px;
    height: 25px;
    display: flex;
    flex-shrink: 1;


}