.gridContainer {
    display: flex;
    flex-wrap: wrap;
    border: 8px;
    border-color: rgb(223, 0, 0);
    border-style:dotted;
    height: 77vh;
    width: 77vh;


}
.theGrids {
    color: red;
    display: flex;
    flex-grow: 1;
}