

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    border: 8px;
    border-color: rgb(223, 0, 0);
    border-style:dotted;
    width: 77vh;
    height: 77vh;
    margin: auto;
}

.theGrids {
    color: rgb(213, 154, 228);
    display: flex;
    flex-grow: 1;
}

.theGrids:hover {
    background-color:black;
}